<div class = "container">
  <%= link_to "Some Page", root_path %>
  <h1> Suas transações </h1>
  <table class = "table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Valor</th>
        <th>Descrição</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>R$10,00</td>
        <td>EXEMPLO</td>
        <td>Saida</td>
      </tr>
    </tbody>
  </table>
</div>
